{include="header"}
<script src="plugins/distribucion/view/js/bootbox.min.js" type="text/javascript"></script>
<script src="plugins/distribucion/view/js/plugins/jquery.tablecheckbox.min.js" type="text/javascript"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>
                    <span class="glyphicon glyphicon-transfer"></span>
                    Restricciones a artículos al tipo de ruta: {$fsc->idtiporuta} {$fsc->descripciontiporuta}
                    <a class="btn btn-xs btn-default" href="{$fsc->url()}&type={$fsc->type}&idtiporuta={$fsc->idtiporuta}" title="Recargar la página">
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Regresar a la Configuración">
                        <span class="fa fa-arrow-l"></span> &nbsp; Regresar a la Configuracion
                    </a>
                    <span class="btn-group">
                        {loop="$fsc->extensions"}
                        {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                        {/if}
                        {/loop}
                    </span>
                </h3>
                {if="!$fsc->nomina"}
                <div class="alert alert-danger">
                    El plugin de <b>nomina</b> no está activo.<br />
                    Se debe configurar los cargos que aplican para Supervisor y Vendedor de los cargos de nómina en <b>Asignaci&oacute;n de Cargos</b>.<br />
                    <b>Por favor instale o active el plugin nomina antes de seguir utulizando este plugin.</b>
                </div>
                {/if}
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="col-sm-4">
            <ul class="list list-group">
                <li class="list-group-item active">Por Familia</li>
            </ul>
            <input type="hidden" id="node-id-unrestricted" value="">
            <div class="col-sm-12" id="arbol_sinrestricciones" style="overflow: auto; height: 450px;">

            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="input-search" class="sr-only">Buscar:</label>
                <input type="text" class="form-control input-sm" id="input-search-unrestricted" placeholder="Escriba su busqueda..." value="">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-ignore-case-unrestricted" value="false">
                    Ignorar Mayusculas/Minusculas
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-exact-match-unrestricted" value="false">
                    Busqueda Exacta
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-reveal-results-unrestricted" value="false">
                    Mostrar Resultados
                </label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-search-unrestricted">Buscar</button>
                <button type="button" class="btn btn-sm btn-default" id="btn-clear-search-unrestricted">Limpiar</button>
                <!-- </form> -->
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-check-all-unrestricted">Marcar Todo</button>
                <button type="button" class="btn btn-sm btn-danger" id="btn-uncheck-all-unrestricted">Desmarcar Todo</button>
            </div>            
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-expand-all-unrestricted">Expandir Todo</button>
                <button type="button" class="btn btn-sm btn-warning" id="btn-collapse-all-unrestricted">Contraer Todo</button>
            </div>
            <div class="form-group">
                <button type="button" id="btn-add-unrestricted" class="btn btn-sm btn-danger">
                    <span class="fa fa-shield"></span>
                    Restringir Seleccionados
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list list-group">
                <li class="list-group-item alert-danger">Artículos Restringidos</li>
            </ul>
            <input type="hidden" id="node-id-restricted" value="">
            <div class="col-sm-12" id="arbol_conrestricciones" style="overflow: auto; height: 450px;">

            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="input-search" class="sr-only">Buscar:</label>
                <input type="text" class="form-control input-sm" id="input-search-restricted" placeholder="Escriba su busqueda..." value="">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-ignore-case-restricted" value="false">
                    Ignorar Mayusculas/Minusculas
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-exact-match-restricted" value="false">
                    Busqueda Exacta
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-reveal-results-restricted" value="false">
                    Mostrar Resultados
                </label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-search-restricted">Buscar</button>
                <button type="button" class="btn btn-sm btn-default" id="btn-clear-search-restricted">Limpiar</button>
                <!-- </form> -->
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-check-all-restricted">Marcar Todo</button>
                <button type="button" class="btn btn-sm btn-danger" id="btn-uncheck-all-restricted">Desmarcar Todo</button>
            </div>            
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-expand-all-restricted">Expandir Todo</button>
                <button type="button" class="btn btn-sm btn-warning" id="btn-collapse-all-restricted">Contraer Todo</button>
            </div>
            <div class="form-group">
                <button type="button" id="btn-del-restricted" class="btn btn-sm btn-success">
                    <span class="fa fa-shield"></span>
                    Quitar Restriccion
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var url_estructura = '{$fsc->url()}';

    $(document).ready(function () {
        $('#btn-edit-selected').attr('disabled', true);
        $('#arbol_sinrestricciones').treeview({
            highlightSelected: true,
            showTags: true,
            showCheckbox: true,
            data: cargarEstructura(),
            onNodeSelected: function (event, node) {
                $('#node-id-unrestricted').val(node.nodeId);
                $('#btn-edit-selected-unrestricted').attr('disabled', false);
            },
            onNodeUnselected: function (event, node) {
                $('#node-id-unrestricted').val('');
                $('#btn-edit-selected-unrestricted').attr('disabled', true);
            }
        });

        // Check/uncheck all
        $('#btn-check-all-unrestricted').on('click', function (e) {
            $('#arbol_sinrestricciones').treeview('checkAll', {silent: $('#chk-check-silent').is(':checked')});
        });

        $('#btn-uncheck-all-unrestricted').on('click', function (e) {
            $('#arbol_sinrestricciones').treeview('uncheckAll', {silent: $('#chk-check-silent').is(':checked')});
        });

        $('#arbol_connrestricciones').treeview({
            highlightSelected: true,
            showTags: true,
            showCheckbox: true,
            data: cargarEstructura(),
            onNodeSelected: function (event, node) {
                $('#node-id-restricted').val(node.nodeId);
                $('#btn-edit-selected-restricted').attr('disabled', false);
            },
            onNodeUnselected: function (event, node) {
                $('#node-id-restricted').val('');
                $('#btn-edit-selected-restricted').attr('disabled', true);
            }
        });

        var search = function (e) {
            var pattern = $('#input-search').val();
            var options = {
                ignoreCase: $('#chk-ignore-case').is(':checked'),
                exactMatch: $('#chk-exact-match').is(':checked'),
                revealResults: $('#chk-reveal-results').is(':checked')
            };
            var results = $('#tree').treeview('search', [pattern, options]);

            var output = '<p>' + results.length + ' matches found</p>';
            $.each(results, function (index, result) {
                output += '<p>- ' + result.text + '</p>';
            });
            $('#search-output').html(output);
        };

        $('#btn-search').on('click', search);
        $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
            $('#tree').treeview('clearSearch');
            $('#input-search').val('');
            $('#search-output').html('');
        });

        $('#btn-expand-all').on('click', function (e) {
            $('#tree').treeview('expandAll', {levels: 3, silent: true});
        });

        $('#btn-collapse-all').on('click', function (e) {
            $('#tree').treeview('collapseAll', {silent: true});
        });

        $('#btn-edit-selected').on('click', function (e) {
            var nodeId = $('#node-id').val();
            var nodo = $('#tree').treeview('getNode', nodeId);
            f_edit_node.codorganizacion.value = nodo.id;
            f_edit_node.descripcion.value = nodo.text;
            f_edit_node.padre.value = nodo.padre;
            f_edit_node.tipo.value = nodo.tipo.toUpperCase();
            f_edit_node.estado.checked = (nodo.estado) ? true : false;
            f_edit_node.estado.value = (nodo.estado) ? "true" : "false";
            $('#modal-edit-node').modal('show');
        });

        $('#btn-add-org').on('click', function (e) {
            $('#modal-edit-node').modal('show');
        });

        $('#modal-edit-node').on('hidden.bs.modal', function () {
            document.f_edit_node.reset();
        });
    });
    function cargarEstructura() {
        var listado = '';
        $.ajax({
            type: 'GET',
            url: url_estructura,
            data: 'type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}&subtype=arbol_articulos',
            async: false,
            success: function (response) {
                if (response.length !== 0) {
                    listado = response;
                } else {
                    alert('¡No hay una estructura valida!');
                }
            },
            error: function (response) {
                alert(response);
            }
        });
        return listado;
    }
</script>
{include="footer"}