{include="header"}
<script src="plugins/distribucion/view/js/bootbox.min.js" type="text/javascript"></script>
<script src="plugins/distribucion/view/js/plugins/jquery.tablecheckbox.min.js" type="text/javascript"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h3>
                    <span class="glyphicon glyphicon-transfer"></span>
                    Restricciones a artículos al tipo de ruta: {$fsc->idtiporuta} {$fsc->descripciontiporuta}
                    <a class="btn btn-sm btn-default" href="{$fsc->url()}&type={$fsc->type}&idtiporuta={$fsc->idtiporuta}" title="Recargar la página">
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Regresar a la Configuración">
                        <span class="fa fa-arrow-left"></span> &nbsp; Regresar a la Configuracion
                    </a>
                    <span class="btn-group">
                        {loop="$fsc->extensions"}
                        {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                        {/if}
                        {/loop}
                    </span>
                </h3>
                {if="!$fsc->nomina"}
                <div class="alert alert-danger">
                    El plugin de <b>nomina</b> no está activo.<br />
                    Se debe configurar los cargos que aplican para Supervisor y Vendedor de los cargos de nómina en <b>Asignaci&oacute;n de Cargos</b>.<br />
                    <b>Por favor instale o active el plugin nomina antes de seguir utulizando este plugin.</b>
                </div>
                {/if}
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="col-sm-4">
            <ul class="list list-group">
                <li class="list-group-item active">Artículos Disponibles</li>
            </ul>
            <input type="hidden" id="node-id-unrestricted" value="">
            <div class="col-sm-12" id="arbol_sinrestricciones" style="overflow: auto; height: 450px;">
                
            </div>
            <div class="col-sm-12" style="margin-top: 10px;">
                <button type="button" class="btn btn-sm btn-default" id="btn-check-all-unrestricted">
                    <span class="fa fa-check-square-o"></span>
                </button>
                <button type="button" class="btn btn-sm btn-default" id="btn-uncheck-all-unrestricted">
                    <span class="fa fa-square-o"></span>
                </button>
            </div> 
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="input-search-unrestricted" class="sr-only">Buscar:</label>
                <input type="text" class="form-control input-sm" id="input-search-unrestricted" placeholder="Escriba su busqueda..." value="">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-ignore-case-unrestricted" value="true" checked>
                    Ignorar Mayusculas/Minusculas
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-exact-match-unrestricted" value="false">
                    Busqueda Exacta
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-reveal-results-unrestricted" value="true" checked>
                    Mostrar Resultados
                </label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-search-unrestricted">Buscar</button>
                <button type="button" class="btn btn-sm btn-default" id="btn-clear-search-unrestricted">Limpiar</button>
                <!-- </form> -->
            </div>           
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-expand-all-unrestricted">Expandir Todo</button>
                <button type="button" class="btn btn-sm btn-warning" id="btn-collapse-all-unrestricted">Contraer Todo</button>
            </div>
            <div class="form-group">
                <button type="button" id="btn-add-unrestricted" class="btn btn-sm btn-danger">
                    <span class="fa fa-shield"></span>
                    Restringir Seleccionados
                </button>
            </div>
        </div>
        <div class="col-sm-4">
            <ul class="list list-group">
                <li class="list-group-item alert-danger">Artículos Restringidos</li>
            </ul>
            <input type="hidden" id="node-id-restricted" value="">
            <div class="col-sm-12" id="arbol_conrestricciones" style="overflow: auto; height: 450px;">

            </div>
            <div class="col-sm-12" style="margin-top: 10px;">
            <button type="button" class="btn btn-sm btn-default" id="btn-check-all-restricted">
                <span class="fa fa-check-square-o"></span></button>
            <button type="button" class="btn btn-sm btn-default" id="btn-uncheck-all-restricted">
                <span class="fa fa-square-o"></span></button>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label for="input-search" class="sr-only">Buscar:</label>
                <input type="text" class="form-control input-sm" id="input-search-restricted" placeholder="Escriba su busqueda..." value="">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-ignore-case-restricted" value="true" checked>
                    Ignorar Mayusculas/Minusculas
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-exact-match-restricted" value="false">
                    Busqueda Exacta
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="chk-reveal-results-restricted" value="true" checked>
                    Mostrar Resultados
                </label>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-search-restricted">Buscar</button>
                <button type="button" class="btn btn-sm btn-default" id="btn-clear-search-restricted">Limpiar</button>
                <!-- </form> -->
            </div>
            <div class="form-group">
                
            </div>            
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btn-expand-all-restricted">Expandir Todo</button>
                <button type="button" class="btn btn-sm btn-warning" id="btn-collapse-all-restricted">Contraer Todo</button>
            </div>
            <div class="form-group">
                <button type="button" id="btn-del-restricted" class="btn btn-sm btn-success">
                    <span class="fa fa-shield"></span>
                    Quitar Restriccion
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var url_estructura = '{$fsc->url()}';
   
    $(document).ready(function () {

        var arbol_sinrestricciones = $('#arbol_sinrestricciones').treeview({
            highlightSelected: true,
            showTags: true,
            showCheckbox: true,
            data: cargarEstructura('arbol_articulos')
        });
        
        var inEvent = 0;
        arbol_sinrestricciones.on('nodeChecked', function(ev, node) {
            inEvent++;
            if (node.nodes !== undefined) {
                for(var i in node.nodes) {
                     arbol_sinrestricciones.treeview('checkNode', node.nodes[i].nodeId);
                }
            }
            inEvent--;
        }).on('nodeUnchecked ', function(ev, node) {
            inEvent++;
            if (node.nodes !== undefined) {
                for(var i in node.nodes) {
                     arbol_sinrestricciones.treeview('uncheckNode', node.nodes[i].nodeId);
                }
            }
            inEvent--;
        });
        
        var search_sinrestriccion = function (e) {
            var pattern = $('#input-search-unrestricted').val();
            var options = {
                ignoreCase: $('#chk-ignore-case-unrestricted').is(':checked'),
                exactMatch: $('#chk-exact-match-unrestricted').is(':checked'),
                revealResults: $('#chk-reveal-results-unrestricted').is(':checked')
            };
            var results = arbol_sinrestricciones.treeview('search', [pattern, options]);

            var output = '<p>' + results.length + ' matches found</p>';
            $.each(results, function (index, result) {
                output += '<p>- ' + result.text + '</p>';
            });
            $('#search-output-unrestricted').html(output);
        };
        
        $('#btn-search-unrestricted').on('click', search_sinrestriccion);
        $('#input-search-unrestricted').on('keyup', search_sinrestriccion);

        $('#btn-clear-search-unrestricted').on('click', function (e) {
            arbol_conrestricciones.treeview('clearSearch');
            $('#input-search-unrestricted').val('');
            $('#search-output-unrestricted').html('');
        });

        // Check/uncheck all
        $('#btn-check-all-unrestricted').on('click', function (e) {
            arbol_sinrestricciones.treeview('checkAll', {silent: $('#chk-check-silent').is(':checked')});
        });

        $('#btn-uncheck-all-unrestricted').on('click', function (e) {
            arbol_sinrestricciones.treeview('uncheckAll', {silent: $('#chk-check-silent').is(':checked')});
        });
        
        $('#btn-expand-all-unrestricted').on('click', function (e) {
            arbol_sinrestricciones.treeview('expandAll', {levels: 3, silent: true});
        });

        $('#btn-collapse-all-unrestricted').on('click', function (e) {
            arbol_sinrestricciones.treeview('collapseAll', {silent: true});
        });
        
        $('#btn-add-unrestricted').on('click', function (e) {
            var checkableNodes = arbol_sinrestricciones.treeview('getChecked');
            if(checkableNodes.length > 0){
                bootbox.dialog({
                    message: "Esta seguro que quiere agregar estos articulos como restricciones al tipo de ruta {$fsc->descripciontiporuta}?",
                    title: "Restriccion de "+checkableNodes.length+" de Articulos a: {$fsc->descripciontiporuta}",
                    buttons: {
                        success: {
                            label: '<span class="fa fa-shield"></span>&nbsp; Agregar Restricciones',
                            className: "btn-success",
                            callback: function() {
                                var articulos = [];
                                for(var i=0; i<checkableNodes.length;i++){
                                    var nodo = checkableNodes[i];
                                    if(nodo.tags[0]==='Articulo'){
                                        articulos.push(nodo.id);
                                    }
                                }
                                $.ajax({
                                    type: 'GET',
                                    url: url_estructura,
                                    data: 'type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}&subtype=restringir_articulos&articulos='+JSON.stringify(articulos),
                                    async: false,
                                    success: function (response) {
                                        if (response.length !== 0) {
                                            window.location.assign("{$fsc->url()}&type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}");
                                        } else {
                                            alert('¡Hubo un error en el proceso!');
                                        }
                                    },
                                    error: function (response) {
                                        alert(response);
                                    }
                                });
                            }
                        },
                        danger: {
                            label: "Cerrar",
                            className: "btn-danger",
                            callback: function() {
                                this.hide();
                            }
                        }
                    }
                });
            } else {
                bootbox.alert('No has seleccionado ningun artículo!');
            }
        });

        var arbol_conrestricciones = $('#arbol_conrestricciones').treeview({
            highlightSelected: true,
            showTags: true,
            showCheckbox: true,
            data: cargarEstructura('arbol_restringidos')
        });
        
        var inEvent = 0;
        arbol_conrestricciones.on('nodeChecked', function(ev, node) {
            inEvent++;
            if (node.nodes !== undefined) {
                for(var i in node.nodes) {
                     arbol_conrestricciones.treeview('checkNode', node.nodes[i].nodeId);
                }
            }
            inEvent--;
        }).on('nodeUnchecked ', function(ev, node) {
            inEvent++;
            if (node.nodes !== undefined) {
                for(var i in node.nodes) {
                     arbol_conrestricciones.treeview('uncheckNode', node.nodes[i].nodeId);
                }
            }
            inEvent--;
        });

        var search_conrestriccion = function (e) {
            var pattern = $('#input-search-restricted').val();
            var options = {
                ignoreCase: $('#chk-ignore-case').is(':checked'),
                exactMatch: $('#chk-exact-match').is(':checked'),
                revealResults: $('#chk-reveal-results').is(':checked')
            };
            var results = arbol_conrestricciones.treeview('search', [pattern, options]);

            var output = '<p>' + results.length + ' matches found</p>';
            $.each(results, function (index, result) {
                output += '<p>- ' + result.text + '</p>';
            });
            $('#search-output-restricted').html(output);
        };

        $('#btn-search-restricted').on('click', search_conrestriccion);
        $('#input-search-restricted').on('keyup', search_conrestriccion);

        $('#btn-clear-search-restricted').on('click', function (e) {
            arbol_conrestricciones.treeview('clearSearch');
            $('#input-search-restricted').val('');
            $('#search-output-restricted').html('');
        });
        
                // Check/uncheck all
        $('#btn-check-all-restricted').on('click', function (e) {
            arbol_conrestricciones.treeview('checkAll', {silent: $('#chk-check-silent').is(':checked')});
        });

        $('#btn-uncheck-all-restricted').on('click', function (e) {
            arbol_conrestricciones.treeview('uncheckAll', {silent: $('#chk-check-silent').is(':checked')});
        });

        $('#btn-expand-all').on('click', function (e) {
            arbol_conrestricciones.treeview('expandAll', {levels: 3, silent: true});
        });

        $('#btn-collapse-all').on('click', function (e) {
            arbol_conrestricciones.treeview('collapseAll', {silent: true});
        });
        
        $('#btn-del-restricted').on('click', function (e) {
            var checkableNodes = arbol_conrestricciones.treeview('getChecked');
            if(checkableNodes.length > 0){
                bootbox.dialog({
                    message: "Esta seguro que quiere eliminar estos articulos como restricciones al tipo de ruta {$fsc->descripciontiporuta}?",
                    title: "Restriccion de "+checkableNodes.length+" de Articulos a: {$fsc->descripciontiporuta}",
                    buttons: {
                        success: {
                            label: '<span class="fa fa-shield"></span>&nbsp; Quitar Restricciones',
                            className: "btn-success",
                            callback: function() {
                                var articulos = [];
                                for(var i=0; i<checkableNodes.length;i++){
                                    var nodo = checkableNodes[i];
                                    if(nodo.tags[0]==='Articulo'){
                                        articulos.push(nodo.id);
                                    }
                                }
                                $.ajax({
                                    type: 'GET',
                                    url: url_estructura,
                                    data: 'type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}&subtype=no_restringir_articulos&articulos='+JSON.stringify(articulos),
                                    async: false,
                                    success: function (response) {
                                        if (response.length !== 0) {
                                            window.location.assign("{$fsc->url()}&type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}");
                                        } else {
                                            alert('¡Hubo un error en el proceso!');
                                        }
                                    },
                                    error: function (response) {
                                        alert(response);
                                    }
                                });
                            }
                        },
                        danger: {
                            label: "Cerrar",
                            className: "btn-danger",
                            callback: function() {
                                this.hide();
                            }
                        }
                    }
                });
            } else {
                bootbox.alert('No has seleccionado ningun artículo!');
            }
        });

    });
    function cargarEstructura(subtipo) {
        var listado = '';
        $.ajax({
            type: 'GET',
            url: url_estructura,
            data: 'type=restriccion_articulos&idtiporuta={$fsc->idtiporuta}&subtype='+subtipo,
            async: false,
            success: function (response) {
                if (response.length !== 0) {
                    listado = response;
                }
            },
            error: function (response) {
                alert(response);
            }
        });
        return listado;
    }
</script>
{include="footer"}