<div class="panel panel-info hidden" id="panel_vendedores">
    <div class="panel-heading">
        <h3 class="panel-title">Vendedores</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-left"><a href="{$fsc->almacen->url()}">Almacén</a></th>
                    <th class="text-left">Supervisor Responsable</th>
                    <th class="text-left">Vendedor</th>
                    <th class="text-center">Activo</th>
                    <th width="120"></th>
                </tr>
            </thead>
            {$contador=1}
            {loop="$fsc->vendedores_asignados"}
            <form name="f_vendedores{$contador}" id="f_vendedores" method="POST" action="{$fsc->url()}">
                <tr{if="!$value1->estado"} class="danger"{/if}>
                    <td>
                        <select name="codalmacen" class="form-control">
                            {loop="$fsc->almacen->all()"}
                            {if="$value1->codalmacen==$value2->codalmacen"}
                            <option value="{$value2->codalmacen}" selected="">{$value2->nombre}</option>
                            {else}
                            <option value="{$value2->codalmacen}">{$value2->nombre}</option>
                            {/if}
                            {/loop}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="supervisor" readonly value="{$value1->nombre_supervisor}" class="form-control"/>
                    </td>
                    <td>
                        <input type="text" name="agente" readonly value="{$value1->nombre}" class="form-control"/>
                    </td>
                    <td class="text-center">
                        <div class="checkbox">
                            <label>
                                {if="$value->estado"}
                                <input type="checkbox" name="estado" value="TRUE" checked=""/>
                                {else}
                                <input type="checkbox" name="estado" value="TRUE"/>
                                {/if}
                            </label>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <input type='hidden' name='codagente' value='{$value1->codagente}'>
                            <input type='hidden' name='type' value='vendedor'>
                            {if="$fsc->allow_delete"}
                            {if="$value->tiene_rutas_asignadas"}
                            <a class="btn btn-sm btn-warning pull-left" onclick="bootbox.alert('No puedes eliminar este Vendedor porque tiene rutas asignadas.')">
                                <span class="glyphicon glyphicon-lock"></span>
                            </a>
                            {else}
                            <button class="btn btn-sm btn-danger" type="button" title="Eliminar" onclick="borrar('Vendedor', '{$value->codagente}', '{$value->codalmacen}')">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            {/if}
                            {/if}
                            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;document.f_vendedores{$contador}.submit();" title="Guardar">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </form>
            {$contador=$contador+1}
            {/loop}
            <form name="n_vendedores" id="n_vendedores" action="{$fsc->url()}" method="post" class="form">
                <tr class="info">
                    <td>
                        <select name="codalmacen" class="form-control">
                            {loop="$fsc->almacen->all()"}
                            <option value="{$value->codalmacen}">{$value->nombre}</option>
                            {/loop}
                        </select>
                    </td>
                    <td>
                        <select name="codsupervisor" class="form-control">
                            {loop="$fsc->supervisores_asignados"}
                            <option value="{$value->codagente}">{$value->nombre}</option>
                            {/loop}
                        </select>
                    </td>
                    <td>
                        <select name="codagente" class="form-control">
                            {loop="$fsc->vendedores_libres"}
                            <option value="{$value->codagente}">{$value->nombre} {$value->apellidos}</option>
                            {/loop}
                        </select>
                    </td>
                    <td class="text-center">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="estado" value="TRUE" checked=""/>
                            </label>
                        </div>
                    </td>
                    <td class="text-right">
                        <input type='hidden' name='type' value='vendedor'>
                        <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;document.n_vendedores.submit();" title="Guardar">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>