{include="header"}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <span class="glyphicon glyphicon-transfer"></span>
                   Configuraci&oacute;n Plugin Distribucion
                    <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                    <span class="btn-group">
                        {loop="$fsc->extensions"}
                        {if="$value->type=='button'"}
                        <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                        {/if}
                        {/loop}
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-2 col-sm-3">
            <div class="btn-group-vertical" role="group" aria-label="...">
                <button type="button" id="b_tipo_transporte" value="panel_tipo_transporte" onclick="botonActivo(this)" role="button" class="btn btn-default">
                    <span class="fa fa-angle-double-right pull-left"></span> &nbsp; Tipo de Transporte

                </button>
                <button type="button" id="b_tipo_ruta" value="panel_tipo_ruta" onclick="botonActivo(this)" role="button" class="btn btn-default">
                    <span class="fa fa-angle-double-right pull-left"></span> &nbsp; Tipo de Ruta
                </button>
                <button type="button" id="b_tipo_vendedor" value="panel_tipo_vendedor" onclick="botonActivo(this)" role="button" class="btn btn-default">
                    <span class="fa fa-angle-double-right pull-left"></span> &nbsp; Tipo de Vendedor
                </button>
            </div>
        </div>
        <div class="col-md-10 col-sm-9">
            <div class="panel panel-info" id="panel_central">
                <div class="panel-heading">
                    <h3 class="panel-title">Configuraci&oacute;n Central del plugin Distribución</h3>
                </div>
                <div class="panel-body">
                    <p align="justify">Para el correcto uso del módulo de distribución para los clientes se debe crear como mínimo un Supervisor, un vendedor, una ruta, un canal y un subcanal, para ser asignado al cliente.</p>
                    <p align="justify">Si adicional a esto se quiere utilizar el plugin de geolocalización de clientes, se debe agregar en la data maestra de los clientes las coordenadas de los mismos.</p>
                    <p align="justify">A continuación seleccione una opción del menú de la izquierda para agregar la información básica.</p>
                    <div class="alert alert-warning">Es necesario que configure como mínimo un empleado con cargo <b>Supervisor</b> y uno con cargo <b>Vendedor</b></div>
                </div>
            </div>
            {include="admin/tipo_transporte"}
            {include="admin/tipo_ruta"}
            {include="admin/tipo_vendedor"}
        </div>
    </div>
</div>
<input type="hidden" name='menu_activo' id='menu_activo' value="{$fsc->type}">
<script type="text/javascript">
    /*
     * Cambia la clase a boton primario cuando el usuario le da Click y muestra el panel asociado
     */
    function botonActivo(element) {
        var botones = ['b_tipo_transporte', 'b_tipo_ruta', 'b_tipo_vendedor'];
        var paneles = ['panel_tipo_transporte', 'panel_tipo_ruta', 'panel_tipo_vendedor'];
        $('#panel_central').hide();
        for (var i = 0; i < botones.length; i++) {
            var idElement = '#' + element.id;
            var otherElement = '#' + botones[i];
            var idPanel = '#' + paneles[i];
            if (element.id === botones[i]) {
                $(idElement).removeClass("btn-default");
                $(idElement).addClass("btn-primary");
                $(idPanel).removeClass('hidden');
            } else {
                $(otherElement).removeClass("btn-primary");
                $(otherElement).addClass("btn-default");
                $(idPanel).addClass('hidden');
            }
        }
    }

    function delete_tipounidad(cod)
    {
        if (confirm("¿Realmente desea eliminar la unidad " + cod + "?"))
            window.location.href = '{$fsc->url()}&delete=' + cod;
    }

    function borrar(objeto, codigo, almacen){
        bootbox.dialog({
            message: "Esta seguro que quiere eliminar al "+objeto+"?",
            title: "Eliminar "+objeto,
            buttons: {
                success: {
                    label: "Eliminar",
                    className: "btn-success",
                    callback: function() {
                        $.ajax({
                            type: 'POST',
                            url: '{$fsc->url()}',
                            async: false,
                            data: 'type='+objeto.toLowerCase()+'&codagente='+codigo+'&codalmacen='+almacen+'&borrar=TRUE',
                            success : function(datos) {
                                 bootbox.alert(datos.mensaje, function() {
                                    window.location.assign("{$fsc->url()}");
                                 });
                            },
                            error: function() {
                                bootbox.alert("Ocurrio un error no contemplado en el plugin, por favor envie un mensaje en el foro de soporte de FacturaScripts para verificar el problema, gracias.");
                            }
                        });
                    }
                },
                danger: {
                    label: "Cancelar",
                    className: "btn-danger",
                    callback: function() {
                        this.hide();
                    }
                }
            }
        });
    }

    function checkboxAction(element) {
        var elementType = element.getAttribute("var");
        var elementRuta = element.getAttribute("ruta");
        var idElement = (elementType === null) ? '#' + element.name : '#' + elementType + element.name + elementRuta;
        if (element.checked) {
            $(idElement).removeClass('btn-default');
            $(idElement).addClass('btn-primary');
        } else {
            $(idElement).removeClass('btn-primary');
            $(idElement).addClass('btn-default');
        }
    }

    if ($('#menu_activo').val() !== '') {
        $('#panel_central').hide();
        if ($('#menu_activo').val() === 'tipo_transporte') {
            $('#b_tipo_transporte').removeClass("btn-default");
            $('#b_tipo_transporte').addClass("btn-primary");
            $('#panel_tipo_transporte').removeClass('hidden');
        } else if ($('#menu_activo').val() === 'tipo_ruta') {
            $('#b_tipo_ruta').removeClass("btn-default");
            $('#b_tipo_ruta').addClass("btn-primary");
            $('#panel_tipo_ruta').removeClass('hidden');
        } else if ($('#menu_activo').val() === 'tipo_vendedor') {
            $('#b_tipo_vendedor').removeClass("btn-default");
            $('#b_tipo_vendedor').addClass("btn-primary");
            $('#panel_tipo_vendedor').removeClass('hidden');
        }
    }
</script>
{include="footer"}
