{include="header"}

<script type="text/javascript">
   function delete_unidad(codigo, nombre)
   {
      if( confirm("¿Realmente desea eliminar al conductor "+nombre+"?") )
         window.location.href = '{$fsc->url()}&delete='+codigo;
   }
</script>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>
               <span class="glyphicon glyphicon-user"></span>
               Conductores
               <a class="btn btn-xs btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               <span class="btn-group">
                  {loop="$fsc->extensions"}
                     {if="$value->type=='button'"}
                     <a href="index.php?page={$value->from}{$value->params}" class="btn btn-xs btn-default">{$value->text}</a>
                     {/if}
                  {/loop}
               </span>
            </h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-12">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left"><a href="{$fsc->almacen->url()}">Almacén</a></th>
                     <th class="text-left"><a href="{$fsc->agencia_transporte->url()}">Agencia</a></th>
                     <th class="text-left">Nombre</th>
                     <th class="text-left">Nro Licencia</th>
                     <th class="text-left">Tipo Licencia</th>
                     <th class="text-center">Activo</th>
                     <th width="120"></th>
                  </tr>
               </thead>
               {loop="$fsc->listado"}
               <form action="{$fsc->url()}" method="post" class="form">
                  <tr{if="!$value1->estado"} class="danger"{/if}>
                      <td>
                        <select name="codalmacen" class="form-control">
                            {loop="$fsc->almacen->all()"}
                            {if="$value1->codalmacen==$value2->codalmacen"}
                            <option value="{$value2->codalmacen}" selected="">{$value2->nombre}</option>
                            {else}
                            <option value="{$value2->codalmacen}">{$value2->nombre}</option>
                            {/if}
                            {/loop}
                        </select>
                      </td>
                     <td>
                        <select name="codtrans" class="form-control" >
                            {loop="$fsc->agencia_transporte->all()"}
                            {if="$value1->codtrans==$value2->codtrans"}
                            <option value="{$value2->codtrans}" selected="">{$value2->nombre}</option>
                            {else}
                            <option value="{$value2->codtrans}">{$value2->nombre}</option>
                            {/if}
                            {/loop}
                        </select>
                     </td>
                     <td>
                        <input type="text" name="nombre" value="{$value1->nombre}" class="form-control" maxlength="80" autocomplete="off" {if="!$fsc->allow_delete"}readonly{/if}/>
                     </td>
                     <td>
                        <input type="text" name="licencia" value="{$value1->licencia}" class="form-control" maxlength="32" autocomplete="off" readonly/>
                     </td>
                     <td>
                        <input type="text" name="tipolicencia" value="{$value1->tipolicencia}" maxlength="32" class="form-control" autocomplete="off" {if="!$fsc->allow_delete"}readonly{/if}/>
                     </td>
                     <td class="text-center">
                        <div class="checkbox">
                           <label>
                              {if="$value->estado"}
                              <input type="checkbox" name="estado" value="TRUE" checked=""/>
                              {else}
                              <input type="checkbox" name="estado" value="TRUE"/>
                              {/if}
                           </label>
                        </div>
                     </td>
                     <td class="text-right">
                        <div class="btn-group">
                           {if="$fsc->allow_delete"}
                           <button class="btn btn-sm btn-danger" type="button" title="Eliminar" onclick="delete_unidad('{$value1->licencia}','{$value1->nombre}')">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                           {/if}
                           <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                              <span class="glyphicon glyphicon-floppy-disk"></span>
                           </button>
                        </div>
                     </td>
                  </tr>
               </form>
               {/loop}
               <form action="{$fsc->url()}" method="post" class="form">
                  <tr class="info">
                     <td>
                       <select name="codalmacen" class="form-control">
                            {loop="$fsc->almacen->all()"}
                            <option value="{$value->codalmacen}">{$value->nombre}</option>
                            {/loop}
                        </select>
                     </td>
                     <td>
                        <select name="codtrans" class="form-control">
                            {loop="$fsc->agencia_transporte->all()"}
                            <option value="{$value->codtrans}">{$value->nombre}</option>
                            {/loop}
                        </select>
                     </td>
                     <td>
                        <input type="text" name="nombre" class="form-control" maxlength="80" autocomplete="off" placeholder="Placa"/>
                     </td>
                     <td>
                        <input type="text" name="licencia" class="form-control" maxlength="32" autocomplete="off" placeholder="Licencia"/>
                     </td>
                     <td>
                        <input type="text" name="tipolicencia" class="form-control" maxlength="32" placeholder="Tipo licencia"/>
                     </td>
                     <td class="text-center">
                        <div class="checkbox">
                           <label>
                              <input type="checkbox" name="estado" value="TRUE" checked=""/>
                           </label>
                        </div>
                     </td>
                     <td class="text-right">
                        <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                           <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                     </td>
                  </tr>
               </form>
            </table>
         </div>
      </div>
   </div>
</div>

{include="footer"}